body {
	font-family: 'Poppins', sans-serif;	
}

.div-1
{
	background-color: #FB6A74;
}


h1 {
    color: white;
	font-size: 250%;
	text-align: center;
	font-weight: bold;
	 padding: 100px;
	 margin: -35px auto; 
}

p {
	color: white;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	
}




table, td, th {
  border: 1px solid black;
  height: 50px;
  
}

table {
  border-collapse: collapse;
  width: 30%;
}

.dyplomaci{
	background-color: #D6ECFF;
}

.analitycy{
	background-color: #D8D4FF;
}

.straznicy{
	background-color: #D4FFDC;
}

.odkrywcy{
	background-color: #F9E394;
}

.black
{
	background-color: black;
}

.typ 
{
	background-color:  #FFFCF0;
}


table.greyGridTable {
  border: 2px solid #000000;
  width: 60%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #000000;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 21px;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 26px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}