body {
	font-family: 'Poppins', sans-serif;
   
}

* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 50%;
}

.content {
  max-width: 2500px;
  margin: auto;
}

.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 50%;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

h2
{
	
	font-size: 72px;
	color: white;


}


.analitycy
{
	background-color: #E4DCFF;
	padding: 30px;
}

.dyplomaci
{
	background-color: #80cca3;
	padding: 30px;
}

.straznicy
{
	background-color: #ABBAEA;
	padding: 30px;
}

.odkrywcy
{
	background-color: #FBD603;
	padding: 30px;
}


.obrazek
{
	width: 369px;
	height: 510px;
}

h3
{
	color: #555B61;
	font-size: 68px;

}

.tresc
{
	
	font-weight: 100;
	font-size: 34px;
	color: #38444d;
	margin-left: 20%;
	margin-right: 20%;
}


.lista 
{
	font-weight: 100;
	font-size: 34px;
	color: #38444d;
}



.myButton {
	box-shadow:inset 1px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:23px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:20px 80px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
	margin-top: 50px;
	margin-bottom: 50px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

p3

{
color: #01bbb9;
  font-weight: bold;
  font-size: 42px;
	
}

p4{
font-size: 42px;
	
color: #fb6a74;
  font-weight: bold;
}

ul
{
	font-size: 32px;
	color: #38444d;
	font-weight: 100;
}


.tresc2
{
	
	font-weight: 100;
	font-size: 34px;
	color: #38444d;
	margin-left: 10%;
	margin-right: 10%;
}




































/*

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */

/*
  top: 0;
  background-color: #38444d;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
}

li {
  float: left;
  border-right:2px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #33a474;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #bbb;
}

.active {
  background-color: #b2c4c1;

}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #bbb;
  
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
  background-color: #38444d;
  
}

.dropdown-content a:hover {background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block;
}